* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #110e1e;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.hidden {
  display: none;
}

.my {
  margin-top: -45px;
  margin-bottom: 15px;
}

.p {
  padding: 1px;
}

.center {
  text-align: center;
}

.cover {
  height: 100%;
  width: 100%;
}

button{
  padding: 13px;
  border-radius: 20px;
  background-color: #0e72f6 ;
  color: white;
}

a{
  color: #3172AA;
  list-style-type: none;
}

.signdiv{
  margin-top: 8rem;
  margin-left: 100px;
}

.signdiv input:focus{
      outline: none;
}

.start{
  color: gray;
}

.create{
  color: white;
  font-size: 45px;
  margin-top: 15px;
}

.signupinput{
  margin-top: 35px;
}

.signupinput input{
  padding: 10px;
  background-color: #282A37;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
}

.name{
  display: flex;
}

.nameContainer{
  margin-left: 10px;
  justify-content: center;
}
.nameContainer:hover,
.nameContainer:focus-visible {
  outline: 4px auto #747bff;
  box-sizing: border-box;
} 

.nameContainer{
  padding: 8px;
  background-color: #282A37;
  border-radius: 10px;
  place-content: center;
}

.emailContainer{
  padding: 8px;
  background-color: #282A37;
  margin-left: 10px;
  margin-top: 23px;
  border-radius: 10px;
  place-content: center;
  width: 427px
}

.emailContainer:hover,
.emailContainer:focus-visible {
  outline: 4px auto #747bff;
  box-sizing: border-box;
}

.emailid{
  width: 400px;

}

.createacc{
  margin-top: 15px;
  width: 200px;
  margin-top: 20px;
  margin-left: 120px;
  cursor: pointer;
}

.othercred{
  display: flex;
  margin-left: 113px;
  margin-top:30px ;
}

.circle{
    display: flex;
    background-color: white;
    border-radius: 180px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.CreatePodc{
  margin-left: 20.5rem;
}

.CreatePodc h2{
  margin-left: 30px;
  margin-top: 30px;
  font-size: 38px;
}

.Poster{
  border: 1px solid white;
  width: 250px;
  height: 250px;
  margin-top: 15px;
  border-radius: 15px;
}

.UploadPost{
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.UploadPost h3{
  font-size: 20px;
}

.Poster h4{
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author h4{
  margin-top: 15px;
}

input:focus, textarea:focus {
  outline:none;
}

.CreatePodc input, .CreatePodc textarea {
  padding: 10px;
  background-color: #282A37;
  color: white;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.publish{
  display: flex;
  width: 240px;
  margin-left: 80px;
  margin-top: 20px;
}

.savebtn{
  width: 100%;
  padding: 13px 30px;
  text-align: center;
  margin-right: 35px;
}

.ExplorePage{
  margin-left: 15rem;
  margin-top: 4rem;
  right: 0;
}

.ExplorePage h3{
  font-size: 35px;
}

.Discover {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  width: 63%;
}

.Discover h3 {
  margin-left: 72%;
  margin-top: 20px;
  font-size: 27px;
}

.Discover h4{
  margin-left: 72%;
  margin-top: 20px;
  color: #737488;
}

.Most {
  margin-top: 25px;
  margin-left: 25px;
}

.card_grid {
  width: 63%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.category {
  color: #0e72f6;
  padding: 6px;
  margin: 15px;
  font-size: 18px;
}

.category:hover {
  color: #0e72f6;
  opacity: 0.7;
  cursor: pointer;
}

.selected {
  background-color: #121820;
  border-radius: 18px;
  padding: 6px;
  margin: 15px;
  font-size: 18px;
  color: #f5f5f5;
}

.selected:hover {
  opacity: 0.7;
  cursor: pointer;
}

.play:hover, .follow:hover {
  cursor: pointer;
  background-color: gold;
  color: #121820;
}

.player_wrapper {
  min-height: 90%;
  width: 450px;
  background: #1b182b;
  position: absolute;
  right: 0;
  top: 63px;
  margin: 9px;
  border-radius: 18px;
  position: fixed;
}

.message {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: flex;
  margin-top: 10px;
}

.percentage {
  width: 36%;
  height: 21px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.percentage h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 900;
  font-size: 12px;
  color: #121820;
  transform: translate(-50%, -50%);
}